# Assignment Day 6 | 14th July 2020

## 1. Answer

In [2]:
email = input('Enter email address: ')

Enter email address: hello@google.com

In [3]:
company = email.split('@')[1].split('.')[0]

In [5]:
print('Output:',company)

Output: google

## 2. Answer

In [29]:
words = input('Enter comma separated words: ')

Enter comma separated words: without,hello,bag,world

In [30]:
sorted_words_list = words.split(',')
sorted_words_list.sort()

In [31]:
print(','.join(sorted_words_list))

bag,hello,without,world

## 3. Answer

In [32]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [33]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [34]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [35]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [36]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'banana', 'cherry', 'apple', 'grapes', 'orange', 'mango'}

In [37]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [38]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [39]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [40]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [41]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [42]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [43]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [44]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [45]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [46]:
# Exercise_1:

fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [48]:
# Exercise_2:

fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'banana', 'cherry', 'orange'}

In [50]:
# Exercise_3:

fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'banana', 'cherry', 'apple', 'grapes', 'orange', 'mango'}

In [51]:
# Exercise_4:

fruits = {"apple", "banana", "cherry"}
fruits.remove('banana')
print(fruits)

{'apple', 'cherry'}

In [53]:
# Exercise_5:

fruits = {"apple", "banana", "cherry"}
fruits.discard('banana')
print(fruits)

{'apple', 'cherry'}

## 4. Answer

In [54]:
numbers = input('Enter space separated numbers: ')

Enter space separated numbers: 1 2 4 6 3 7 8

In [63]:
num_list = numbers.split(' ')
num_list.sort() #sorted
num_list = list(map(lambda n: int(n), num_list)) #list in digits

In [64]:
print(num_list)

[1, 2, 3, 4, 6, 7, 8]

In [68]:
total_len = len(num_list)
curr_index = 0
for num in range(num_list[curr_index], total_len, 1):
    #print(f'num {num} curr_item {num_list[curr_index]}')
    if num_list[curr_index] != num:
        print("Output:", num)
        break
    else:
        curr_index += 1

Output: 5

## 5. Answer

In [1]:
L_input = input('Enter space separated numbers:').split(' ')

Enter space separated numbers:12 24 35 24 88 120 155 88 120 155

In [10]:
L = list(map(lambda n: int(n), L_input))
print(L)

[12, 24, 35, 24, 88, 120, 155, 88, 120, 155]

In [12]:
New_set = set()
L_result = []
for _index, num in enumerate(L):
    #print(f'_index: {_index} num: {num} set: {New_set} L: {L_result}')
    if num not in New_set:
        New_set.add(num)
        L_result.append(num)
print(','.join(map(str, L_result)))

12,24,35,88,120,155